.form__button--edit {
	border: none;
	border-radius: 5px;
	background-color: white;
	width: 93%;
	
	@media all and (min-width: 769px) {
		width: 41%;
	}
}

.form__colorButton {
	border-radius: 5px;
	border: 1px solid white;
}

.button_green {
	background-color: #04724D;
}
.button_purple {
	background-color: #7A6174;
}
.button_yellow {
	background-color: #F6E27F;
}
.button_blue {
	background-color: #B0C0BC;
}

.preview__button--hide {
	display: flex;
	align-self: flex-end;
}

.buttonrelative {
	position: relative;
}

.form__button--saveDeleteClose {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	background-color: #b0c0bc;
	color: #273e42;
	border: none;
	align-items: flex-start;
	width: auto;
}
