body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cover{
	background: url('../images/cover.jpg');
	background-size: cover;
	width: 100vw;
	height: 50vh;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
}

.create{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: white;
	padding-top: 50px;
	height: 100%;
}

.create h1{
	font-family: 'Share Tech Mono', monospace;
}
.create a{
	width: 40%;
	border-radius: 4px;
	background-color: #E3C18B;
	padding: 5px;
	text-align: center;
	margin-top: 20px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.create h1{
	font-size: 24px;
}
