.form__sectionContent {
	display: none;
	background-color: rgba(226, 226, 226, 0.72);
}

.form__container--colorButtons {
	display: flex;
}

//Preview section
.preview__generalContainer {
	display: none;

	@media all and (min-width: 769px){
		padding: 39px 0;
		width: 58%;
	}
}

.preview__container--print {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding-top: 20px;
	width: 100%;
}

.preview__showContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	border: 1px solid #b0c0bc;
	padding-top: 20px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin-bottom: 20px;

	@media all and (min-width: 769px){
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		padding-top: 20px;
	}
}

.preview__section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 10px;
}

.preview__section__title {
	width: 96%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.preview__section--h {
	margin: 0;
}

.titles {
	color: $primary-color;
	background-color: $secondary-color;
	text-align: left;
}

.preview__section__subtitle {
	font-size: 19px;
	font-weight: 400;
}

.resume__title {
	text-align: center;
	color: $primary-color;
	font-size: 38px;
}

.resume__header__profession {
	margin: 5px 0 8px 0;
	font-size: 23px;
}

.resume__header__summary {
	margin: 10px 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
}

.preview__data__languages,
.preview__data__studies {
	margin-left: 5px;
	margin-top: 10px;
	list-style: none;
}

.preview__data__interest {
	display: flex;
	list-style: none;
	padding-left: 0;
}

.preview__data__studies li {
	margin: 5px 0;
}

.preview__data__languages li {
	margin: 5px 0;
}

.preview__data__skillName {
	text-align: left;
	color: #263d42;
	line-height: 20px;
	padding-left: 10px;
	margin: 0;
}

.preview__levelSkill {
	width: 0;
	background-color: #b0c0bc;
}

.preview__data__interest li {
	padding: 5px;
	background-color: $secondary-color;
	border-radius: 3px;
	margin: 0 5px;
}

.preview__experience--position {
	list-style: none;
}

.preview__container--padding {
	padding: 5px;
}

//Lines to separete sections
.line__top {
	border: 1px solid $secondary-color;
	width:80%;
}

.line__bottom {
	border: 1px solid $secondary-color;
	width:100%;
}

/*Estilos dinámicos de color para preview*/
/* Theme 1 */
.line__bottom {
	margin: 0;
}

.theme1 .titles, .theme1 .preview__data__skillName, .theme1 .data__interest--li{
	background-color: #04724D;
	color: white;
}

.theme1 .line__bottom {
	border: 1px solid #04724D;
}

.theme1 .line__top {
	border: 1px solid #04724D;
}

/* Theme 2 */
.theme2 .titles, .theme2 .preview__data__skillName, .theme2 .data__interest--li {
	background-color: #7A6174;
	color: white;
}

.theme2 .line__bottom {
	border: 1px solid #7A6174;
}

.theme2 .line__top {
	border: 1px solid #7A6174;
}

/* Theme 3 */
.theme3 .titles, .theme3 .preview__data__skillName, .theme3 .data__interest--li {
	background-color: #F6E27F;
}

.theme3 .line__bottom {
	border: 1px solid #F6E27F;
}

.theme3 .line__top {
	border: 1px solid #F6E27F;
}

/* Theme 4 */
.theme4 .titles, .theme4 .preview__data__skillName, .theme4 .data__interest--li {
	background-color: #B0C0BC;
}

.theme4 .line__bottom  {
	border: 1px solid #B0C0BC;
}

.theme4 .line__top {
	border: 1px solid #B0C0BC;
}
