//Preview section
.preview__section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 10px;
}

.preview__section__title {
	width: 96%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.titles {
	color: $primary-color;
	background-color: $secondary-color;
	text-align: left;
}

.preview__section__subtitle {
	font-size: 19px;
	font-weight: 400;
}

.resume__title {
	text-align: center;
	color: $primary-color;
	font-size: 38px;
}

.resume__header__profession {
	margin: 5px 0 8px 0;
	font-size: 23px;
}

.resume__header__summary {
	margin: 10px 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
}

.preview__data__languages,
.preview__data__studies {
	margin-left: 5px;
	margin-top: 10px;
	list-style: none;
}

.preview__data__interest {
	display: flex;
	list-style: none;
}

.preview__data__studies li {
	margin: 5px 0;
}

.preview__data__languages li {
	margin: 5px 0;
}

.preview__data__skillName {
	text-align: left;
	color: #263d42;
	line-height: 20px;
	padding-left: 10px;
}

.preview__levelSkill {
	width: 0;
	background-color: #b0c0bc;
}

.preview__data__interest li {
	padding: 5px;
	background-color: $secondary-color;
	border-radius: 3px;
	margin: 0 5px;
}

//Lines to separete sections
.line__top {
	border: 1px solid $secondary-color;
	width:80%;
}

.line__bottom {
	border: 1px solid $secondary-color;
	width:100%;
}
