//Preview section
.preview__section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 10px;
}

.preview__section__title {
	width: 96%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.preview__section__subtitle {
	font-size: 19px;
	font-weight: 400;
}

.resume__title {
	text-align: center;
	color:#263D42;
	font-size: 38px;
}

.resume__header__profession {
	margin: 5px 0 8px 0;
	font-size: 23px;
}

.resume__header__summary {
	margin: 10px 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
}

//Lines to separete sections
.line__top {
	border: 1px solid #b0c0bc;
	width:80%;
}

.line__bottom {
	border: 1px solid #b0c0bc;
	width:100%;
}
