/*Cover*/
// .cover{
// 	background: url('../images/cover.jpg');
// 	background-size: cover;
// 	width: 100vw;
// 	height: 50vh;
// 	background-position: top center;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	display: flex;
// 	justify-content: center;
// }
// .create{
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	flex-direction: column;
// 	text-align: center;
// 	color: white;
// 	padding-top: 50px;
// 	height: 100%;
// }
// .create h1{
// 	font-family: 'Share Tech Mono', monospace;
// }
// .create a{
// 	width: 40%;
// 	border-radius: 4px;
// 	background-color: #E3C18B;
// 	padding: 5px;
// 	text-align: center;
// 	margin-top: 20px;
// 	color: white;
// 	text-decoration: none;
// 	font-weight: bold;
// }
// .create h1{
// 	font-size: 24px;
// }


/*contenedor del formulario*/
.resume-container{
	width: 100%;
	display: flex;
	margin:0 auto;
	justify-content: center;
	flex-direction: column;
}

/*formulario*/
.resume-form{
	padding: 20px 0;
	width: 100%;
	margin: 0 auto;
}
.resume-form *{
	padding: 5px;
	margin: 5px;
}
.section-title {
	text-align: center;
	color:#263D42;
}
.section{
	margin-bottom: 20px;
}
.info{
	background-color: #B0C0BC;
	padding:10px;
	border-radius: 5px;
}
.section-buttons{
	display: flex;
	justify-content: center;
}
label{
	font-size: 15px;
}

input{
	width: 93%;
	border: none;
}
.error{
	color: red;
}
.work {
	display: flex;
	flex-direction: column;
}
.prueba_experience {
	position: absolute;
	right: -135px;
	top: -334px;
}
.skill_container {
	display: flex;
	flex-direction: column;
	width: 90%;
}
.barSkillsSection {
	background-color: #eeeeee;
	margin-bottom: 1em;
}
