.footer {
	display:flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	background-color: #022F40;
	color:white;
	padding: 9px;
	@media all and (min-width: 481px){
			flex-direction: row;
			align-items: flex-start;
			text-align: center;
		}
}

.footer__items{
	padding: 8px 0;
}

.footer__items:hover {
	background-color: #c1edcc;
	color: $primary-color;
	border-radius: 10px;
}

.footer__link{
	text-decoration: none;
	color:white;
}

.footer__link:hover {
	color: $primary-color;
}


.footer__map {
	padding: 15px;
}

.footer__iframe {
	width: 250px;
	height: 150px;
	@media all and (min-width: 481px){
		width: auto;
		height: auto;
	}
}

.footer__questions {
	display: flex;
	flex-direction: column;
}

.footer__pencil {
	margin-top: 20px;
}
