// header
.header {
	background-color: #599675;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.header__menu{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
}
.header__menu__item{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 12px;
}
.header__menu__section--link{
	display: block;
	text-decoration: none;
	color: white;
}
.header__menu__section:hover {
	background-color: #C1EDCC;
	color: #263D42;
	border-radius: 10px;
}

.header__menu__section--link:hover{
	color: #263D42;
}

.header__menu__item--vista {
	position: relative;
}
.header__menu__item__print{
	background: url('../images/printer.png');
	background-repeat: no-repeat;
	width: 38px;
	height: 34px
}
.header__menu__item__print:hover{
	background-color: #C1EDCC;
	color: #263D42;
	border-radius: 10px;
}
