.form__button--edit {
	border: none;
	border-radius: 5px;
	background-color: white;

	@media all and (min-width: 769px) {
		width: 41%;
	}
}

.preview__button--hide {
	display: flex;
	align-self: flex-end;
}
