.form__button--edit {
	border: none;
	border-radius: 5px;
	background-color: white;

	@media all and (min-width: 769px) {
		width: 41%;
	}
}

.preview__button--hide {
	display: flex;
	align-self: flex-end;
}

.buttonrelative {
	position: relative;
}

.form__button--saveDeleteClose {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	background-color: #b0c0bc;
	color: #273e42;
	border: none;
	align-items: flex-start;
	width: auto;
}
